<script src="/components/setMode.js" defer></script>
<script src="/components/swMode.js" defer></script>

<nav class="navbar navbar-expand-xl sticky-top" data-bs-theme="dark" style="background-color: #8e2e2e">
    <div class="container-fluid">
        <span>
            <a class="navbar-brand h1" href="/">
                <img src="/assets/vt-brand-512-light-small.png" alt="logo" height="36" class="d-inline-block">
                Vivatsathorn Thitasirivit
            </a>
        </span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#globalNavbar"
                aria-controls="globalNavbar" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="globalNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/publications"><strong>Publications</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/quantum"><strong>Quantum</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teachings"><strong>Teachings</strong></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" data-bs-theme="light" aria-expanded="false">
                        Docs
                    </a>
                    <ul class="dropdown-menu" data-bs-theme="light">
                        <li><a class="dropdown-item" href="/docs/vt-linalg/index.html">vt-linalg</a></li>
                        <li><a class="dropdown-item" href="/docs/vt-serializer/index.html">vt-serializer</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" data-bs-theme="light" aria-expanded="false">
                        Downloads
                    </a>
                    <ul class="dropdown-menu" data-bs-theme="light">
                        <li><a class="dropdown-item" href="/downloads">Downloads</a></li>
                        <li><a class="dropdown-item" href="/cu">Chula Lecture Notes</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" data-bs-theme="light" aria-expanded="false">
                        Calculator
                    </a>
                    <ul class="dropdown-menu" data-bs-theme="light">
                        <li><a class="dropdown-item" href="/calculator/pressure_vessel">Pressure Vessel</a></li>
                        <li><a class="dropdown-item" href="/hab">Balloon Burst</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts">Contacts</a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
</nav>
